{% extends 'base.html' %}
{% load static %}
{% block content %}

            <!-- Page Header Start -->
            <div class="container py-5 px-2 bg-secondary">
                <div class="row py-5 px-2">
                    <div class="col-sm-6 text-center text-md-left">
                        <h1 class="text-white text-center text-uppercase font-weight-bold">About Me</h1>
                    </div>
                </div>
                <div class="container bg-white pt-5">
                <div class="row px-3 pb-5">
                    <div class="col-md-12">
                        <h2 class="mb-4 font-weight-bold">python developer with 1 years of experience</h2>
                        <img class="img-fluid float-left w-50 mr-4 mb-3 rounded" src="{% static 'images/alexander.jpg' %}" alt="Image">
                        <p class="m-0">
                            I am a professional writer with 1 years of experience. I have written for various magazines and newspapers.
                        </p>
                    </div>
                    <div class="col-md-12 pt-4">
                        <div class="d-flex flex-column skills">
                            {% for skill in skills %}
                            <div class="progress w-100 mb-4">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="{{ skill.degree }}" aria-valuemin="0" aria-valuemax="90">{{ skill.name }}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <!-- Page Header End -->
{% endblock content %}

