{% extends 'base.html' %}
{% load static %}
{% block title %}{{ 'Posts' }}{% endblock title %}
{% block content %}
<div class="container bg-white pt-5">
    <!-- Eng yangi postlar -->
    <h2 class="mb-4 text-center">Eng yangi postlar</h2>
    <div class="row mb-4">
        {% for post in newest_posts %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">
                            <i class="fa fa-calendar-alt"></i> {{ post.created_on|date:"d M, Y" }}
                        </small>
                        <small class="text-muted">
                            <i class="fa fa-eye"></i> {{ post.views }} marta ko‘rildi
                        </small>
                    </div>
                    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary mt-2">Batafsil</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Postlar mavjud emas</p>
        {% endfor %}
    </div>

    <!-- Eng ko'p ko'rilgan postlar -->
    <h2 class="mb-4 text-center">Eng ko'p ko'rilgan postlar</h2>
    <div class="row mb-4">
        {% for post in most_viewed_posts %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">
                            <i class="fa fa-eye"></i> {{ post.views }} marta ko‘rildi
                        </small>
                    </div>
                    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary mt-2">Batafsil</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Postlar mavjud emas</p>
        {% endfor %}
    </div>

    <!-- Haftaning eng ommabop postlari -->
    <h2 class="mb-4 text-center">Haftaning eng ommabop postlari</h2>
    <div class="row mb-4">
        {% for post in weekly_popular_posts %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">
                            <i class="fa fa-eye"></i> {{ post.views }} marta ko‘rildi
                        </small>
                    </div>
                    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary mt-2">Batafsil</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Postlar mavjud emas</p>
        {% endfor %}
    </div>

    <!-- Oyning eng ommabop postlari -->
    <h2 class="mb-4 text-center">Oyning eng ommabop postlari</h2>
    <div class="row mb-4">
        {% for post in monthly_popular_posts %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">
                            <i class="fa fa-eye"></i> {{ post.views }} marta ko‘rildi
                        </small>
                    </div>
                    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary mt-2">Batafsil</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Postlar mavjud emas</p>
        {% endfor %}
    </div>

    <!-- Tavsiya qilingan postlar -->
    <h2 class="mb-4 text-center">Tavsiya qilingan postlar</h2>
    <div class="row mb-4">
        {% for post in recommended_posts %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if post.image %}
                <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary mt-2">Batafsil</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Postlar mavjud emas</p>
        {% endfor %}
    </div>

</div>
{% endblock content %}
